<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sample.bookstore.web.mapper.BookMapper">
	<!-- 
	List<Book> getAllBooks();
	 -->
	 <select id="getAllBooks" resultType="com.sample.bookstore.web.vo.Book">
	 	select
	 		book_no as no,
	 		book_title as title,
	 		book_author as author,
	 		book_publisher as publisher,
	 		book_pub_date as pubDate,
	 		book_price as price,
	 		book_discount_price as discountPrice,
	 		book_stock as stock,
	 		book_updated_date as updatedDate,
	 		book_created_date as createdDate
	 	from
	 		sample_spring_books
	 	order by 
	 		book_no desc
	 
	 </select>
</mapper>